.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.message-container--left {
  flex-direction: row; /* Align avatar and bubble horizontally */
}

.message-container--right {
  flex-direction: row-reverse; /* Reverse the order for right-aligned messages */
}

.message-avatar {
  display: flex;
  align-items: flex-end; /* Align avatar to the bottom */
  margin: 0px; /* Add some spacing between avatar and bubble */
}

.avatar-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-content {
  display: flex;
  flex-direction: column; /* Stack bubble and timestamp vertically */
  align-items: flex-start; /* Align items to the left */
}

.message-bubble {
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  margin: 4px 0;
  max-width: 70%;
}

.message-bubble {
  background-color: #ff2a1b;
}

.message-bubble--gray {
  background-color: #4b5563;
}

.message-timestamp {
  opacity: 0.5;
  font-size: 0.75rem;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 4px; /* Add some spacing above the timestamp */
}

/* Chat Window Styles */
.chat-window {
  min-width: 35rem;
  display: flex;
  justify-content: center;

  flex-direction: column;
  height: 100%;
  background-color: #64748b;
}

.chat-header {
  background-color: #64748b;
  padding: 8px 16px;
}

.chat-header-label {
  font-weight: bold;
}

.chat-header-username {
  color: #1a1a1a;
  font-weight: bold;
}

/* No Chat Selected Styles */
.no-chat-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.no-chat-content {
  padding: 0 16px;
  text-align: center;
  color: #e5e7eb;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.no-chat-icon {
  font-size: 3rem;
}

/* Message Input Styles */
.message-input-form {
  padding: 0 12px;
  margin: 12px 0;
}

.message-input-wrapper {
  width: 100%;
  position: relative;
}

.message-input-field {
  border: 1px solid #4b5563;
  border-radius: 8px;
  width: 96%;
  padding: 10px;
  background-color: #374151;
  color: white;
  font-size: 0.875rem;
}

.message-input-field::placeholder {
  color: #9ca3af;
}

.message-send-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.loading-spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Messages List Styles */
.messages-list {
  padding: 0 8px;
  flex: 1;
  overflow-y: auto;
  background-color: white;
}

.no-messages-text {
  text-align: center;
  color: #9ca3af;
}
